<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reisebüro Graf - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/bilder/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/bilder/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-7">
                <img src="~/Content/bilder/reisebüro_logo.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/globalize/globalize.js" type="text/javascript"></script>
    <script src="~/Scripts/cldr.js" type="text/javascript"></script>
    <script src="~/Scripts/cldr/event.js" type="text/javascript"></script>
    <script src="~/Scripts/cldr/supplemental.js" type="text/javascript"></script>
    <script src="/scripts/globalize/cultures/globalize.culture.de-DE.js" type="text/javascript"></script>
    <script src="~/Scripts/toastr.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/locales/bootstrap-datepicker.de.min.js"></script>
    <script type="text/javascript">
        Globalize.culture('de');

        // Only there to show which culture are being used.
        console.log(Globalize.culture().name);

        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            @{
                if (TempData["success"]!=null)
                {
                    <text>toastr["success"]('@TempData["success"]');</text>
                } else if (TempData["error"]!=null)
                {
                    <text>toastr["error"]('@TempData["error"]');</text>
                }
            }
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
