<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reisebüro Graf - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/bilder/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/bilder/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="~/Content/bilder/reisebüro_logo.jpg" class="img-responsive" />
                <div class="row kontakt">
                    <div class="col-xs-11 center-block">
                        Kontaktieren Sie uns

                    </div>
                    <div class="col-xs-10 col-xs-offset-2">0800/206894</div>
                </div>
            </div>
            <div class="col-xs-3 logoschrift">
                "Wir sind seit 1979 Ihr Ansprechpartner für preisgünstige und qualitative Pauschalreisen"
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="pull-right">@Html.ActionLink("Anmelden", "Login", "Benutzer", null, new { @class = "btn anmeldung" })</div>
                </div>
                <div class="row">
                    <div class="slider">
                        <div class="crop">
                            <span class="img" style="background-image:url('../../Content/bilder/slidertestimg/1_hotel_test.jpg');"></span>
                        </div>
                        <div class="crop">
                            <span class="img" style="background-image: url('../../Content/bilder/slidertestimg/1_reise_test.jpg');"></span>
                        </div>
                        <div class="crop">
                            <span class="img" style="background-image: url('../../Content/bilder/slidertestimg/2_hotel_test.jpg');"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="footer navbar navbar-bottom">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Reiseimpressionen","Index","Home")</li>
                            <li><a href="#">Impressum</a></li>
                            <li><a href="#">AGB</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $('.slider').anyslider();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
