@model UI_Reiseboerse_Graf.Models.KundenModel

@{
    ViewBag.Title = "Aktualisieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ihr Profil</h2>
<br />

@using (Html.BeginForm("Aktualisieren", "Benutzer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4>Ihre Profilseite</h4>

        <div class="col-xs-2 filter">
            <label class="control-label">Profilbild</label>
            <div class="col-xs-5">
                <input type="file" name="bild" formenctype="multipart/form-data" class="btn" accept="image/jpeg, image/png, image/gif" />
            </div>
        </div>
        <div class="col-xs-10 reise">
            <div class="col-xs-5">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Geschlecht, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(x => x.Geschlecht, true)<span>männlich</span>
                            </div>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(x => x.Geschlecht, false)<span>weiblich</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Geschlecht, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.GeburtsDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.GeburtsDatum, new { htmlAttributes = new { @class = "form-control", id = "date" } })
                            @Html.ValidationMessageFor(model => model.GeburtsDatum, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-5">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Land, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Land, new SelectList(Model.Land, "land_ID", "landName"), new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Passwort, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Passwort, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Passwort, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PasswortWiederholung, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.PasswortWiederholung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PasswortWiederholung, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>


            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
        <div class="col-xs-10 reise">
            @Html.Action("LadeAlleBuchungenBenutzer","Buchungen",new {id=Model.ID})")
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


    </div>
}
<div>
    @Html.ActionLink("Zurück zu Reisen", "Laden", "Reisen")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#date').datetimepicker({
            format: "DD.MM.YYYY"
        });
    </script>
}
