@model UI_Reiseboerse_Graf.Models.KundenModel

@{
    ViewBag.Title = "Aktualisieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container wrapper">
    <h2 class="Schriftartblau">Ihr Profil</h2>
    <br />

    @using (Html.BeginForm("Aktualisieren", "Benutzer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="col-xs-3 filter">
            <div class="Schriftart" style="height: 338px">
                Willkommen auf Ihrer Profilseite, @Model.Email!<br />
                Wir freuen uns dass Sie wieder mal vorbeischauen <hr />
                Sollten Sie Fragen haben: <br />
                <a href="mailto:kontakt@reisebuerograf.de?Subject=Kontaktanfrage">Wir freuen uns über Ihre Mail</a>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 reise abstand" style="width: 752px">
            <div class="col-xs-6">
                <table class="table table-responsive">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Geschlecht, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(x => x.Geschlecht, false)<span>männlich</span>
                            </div>
                            <div class="radio-inline">
                                @Html.RadioButtonFor(x => x.Geschlecht, true)<span>weiblich</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Geschlecht, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.GeburtsDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            <div class='input-group date col-md-12' id='date'>
                                @Html.TextBoxFor(model => model.GeburtsDatum, "{0:dd.MM.yyyy}", new { @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-6">
                <table class="table table-responsive">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Land, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Land, new SelectList(Model.Land, "land_ID", "landName"), new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Passwort, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Passwort, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Passwort, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PasswortWiederholung, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.PasswortWiederholung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PasswortWiederholung, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>


            <div class="col-md-offset-5 col-md-8">
                <input type="submit" value="Speichern" class="btn anmeldung abstand" />
            </div>
        </div>
        @Html.HiddenFor(model => model.ID)




        <div class="col-xs-11 reise" style="width: 1095px; margin-bottom: 15px">
            @Html.Action("LadeAlleBuchungenBenutzer", "Buchungen", new { id = Model.ID })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#date').datepicker({
                language: 'de'
            });
        })
        $(document).ready(function () {
            $("#button").click(function () {
                $("#bewerten").removeClass("NichtZeigen");
            });
        });
    </script>
}

