@model UI_Reiseboerse_Graf.Models.KundenAnlegenModel

@{
    ViewBag.Title = "BenutzerAnlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Schriftartblau">Willkommen beim Reisebüro Graf</h2>
<h3 class="Schriftartblau">Registrierung</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-xs-6 col-lg-6 reise">           

            <div class="form-group benutzerform">
                @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">               
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                    </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Land, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.DropDownListFor(model => model.Land_ID, new SelectList(Model.Land, "land_ID", "landName"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Ort_ID, new SelectList(Model.Ort, "ID", "Bezeichnung"))
                </div>
            </div>
        </div>
        
        <div class="col-xs-6 col-lg-6 reise">
            <div class="form-group benutzerform">
                @Html.LabelFor(model => model.Geschlecht, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                <div class="radio-inline">
                    @Html.RadioButtonFor(x => x.Geschlecht, false)<span>männlich</span>
                </div>
                <div class="radio-inline">
                    @Html.RadioButtonFor(x => x.Geschlecht, true)<span>weiblich</span>
                </div>

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.GeburtsDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.GeburtsDatum, new { htmlAttributes = new { @class = "form-control", id = "date" } })
                @Html.ValidationMessageFor(model => model.GeburtsDatum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passwort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.Passwort, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Passwort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PasswortWiederholung, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.PasswortWiederholung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswortWiederholung, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-5">
                    <input type="submit" value="Erstellen" class="btn anmeldung" />
                </div>
            </div>
        </div>
       
        </div> 


}
<div>
    @Html.ActionLink("Zurück zu Reisen", "Laden", "Reisen")
</div>

@section Scripts {
    <script>
        $(function () {
            $('#date').datetimepicker({
                format: "DD.MM.YYYY",
                useCurrent:true
            });
        })       
    </script>
}
