@model UI_Reiseboerse_Graf.Models.BenutzerModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div>
    <h4>BenutzerDaten</h4>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.TextBoxFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Passwort)</td>
            <td>@Html.TextBoxFor(model => model.Passwort)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>