@model UI_Reiseboerse_Graf.Models.FilterModel

@{
    ViewBag.Title = "Filter";

}

@using (Html.BeginForm("Laden", "Reisen", FormMethod.Post))
{
    <div class="container">
        <div class="col-xs-3 filter">
            <div class="Schriftartblau">Filter</div>
            <hr />
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(model => model.Land)
                    @Html.DropDownListFor(model => model.Land_id, new SelectList(Model.Land, "land_ID", "landName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(model => model.Ort)
                    @Html.DropDownListFor(model => model.Ort_ID, new SelectList(Model.Ort, "Id", "Bezeichnung"), new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.HotelKategorie)<br />
                    <div class="acidjs-rating-stars">
                            <input type="radio" name="HotelKategorie" id="group-2-0" value="5" /><label for="group-2-0"></label>
                            <input type="radio" name="HotelKategorie" id="group-2-1" value="4" /><label for="group-2-1"></label>
                            <input type="radio" name="HotelKategorie" id="group-2-2" value="3" /><label for="group-2-2"></label>
                            <input type="radio" name="HotelKategorie" id="group-2-3" value="2" /><label for="group-2-3"></label>
                            <input type="radio" name="HotelKategorie" id="group-2-4" value="1" /><label for="group-2-4"></label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Preis")
                    <div class="noUi-base noUi-background noUi-horizontal noUi-target" id="preis">
                        <div class="noUi-origin">
                        </div>
                    </div>
                    @Html.HiddenFor(model=>model.PreisMin,new { id= "PreisMin" })
                    @Html.HiddenFor(model => model.PreisMax, new { id = "PreisMax" })
                    @*<input type="hidden" id="preis-min" value="" name="preisMin" />
                    <input type="hidden" id="preis-max" value="" name="preisMax" />*@
                </div>
            </div>

            <br /><br />
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(model => model.Verpflegung)
                    @Html.DropDownListFor(model => model.Verpflegungs_ID, new SelectList(Model.Verpflegung, "Id", "Bezeichnung"), new { @class = "form-control" }) <br />
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(model => model.Startdatum)
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="Startdatum" value="@Model.Startdatum.ToShortDateString()" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(model => model.Enddatum)
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" name="Enddatum" value="@Model.Enddatum.ToShortDateString()" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                </div>

            </div>
            <div class="divcenter">
                <input class="btn button" type="submit" value="Filtern" />
            </div>

        </div>
    </div>
}
