@model UI_Reiseboerse_Graf.Models.ReiseLadenModel

@{
    ViewBag.Title = "Reisen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-lg-offset-8">
            @using (Html.BeginForm("Suchen", "Reisen"))
            {
                <span class="input-group btn">
                    @Html.TextBoxFor(x => x.TextSuche, new { @class = "form-control reise", @placeholder = "Suche nach..." })
                    <input type="submit" class="btn anmeldung" value="Los!" />
                </span>
            }

        </div>
    </div>
    <div>
        <div class="col-xs-2">
            @Html.Partial("_Filter", Model.Filter)
        </div>
        <div class="col-xs-9 col-xs-offset-1">

            @if (Model.Reisen == null || Model.Reisen.Count() <= 0)
            {
                <h4 class="suchergebnis">Keine Suchergebnisse vorhanden <br /> Verändern Sie Ihre Suchkriterien</h4>
            }
            else
            {
                foreach (var item in Model.Reisen)
                {
                    <div class="row reise">
                        <div class="col-md-3 col-xs-6">
                            <img src="~/Bild/BildzuReise/@item.ID" class="img-responsive img-rounded bild" />
                            <div class="carousel-caption bildschrift">
                                <text>ab € </text>@Html.DisplayFor(modelItem => item.Preis)
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 details">
                            <ul class="list-unstyled list">
                                <li><img src="~/Content/bilder/themify_e691(1)_32.png" />@Html.DisplayFor(modelItem => item.Titel)</li>
                                <li><img src="~/Content/bilder/themify_e6a9(3)_32.png" /> @Html.DisplayFor(modelItem => item.Ort), @Html.DisplayFor(modelItem => item.Land)</li>
                                <li><img src="~/Content/bilder/FontAwesome_f015(0)_32.png" /> @Html.DisplayFor(modelItem => item.Unterkunft)</li>
                                <li><img src="~/Content/bilder/FontAwesome_f0f5(0)_32.png" /> @Html.DisplayFor(modelItem => item.Verpflegung)</li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-xs-6 details">
                            <table class="scrollbar table-condensed">
                                @foreach (var datum in item.Reisedaten)
                                {
                                    <tr>
                                        <td>@datum.DatumsAnzeige</td>
                                        <td>@Html.ActionLink("Details", "Anzeigen", new { id = datum.ID }, new { @class = "btn buttonind" })</td>
                                    </tr>                                    
                                }
                            </table>
                            @for (int i = 0; i < item.Bewertung; i++)
                            {
                                <img src = "~/Content/bilder/Entypo_2605(0)_32.png" />
                            }
                        </div>

                    </div>
                    <br />
                }
            }
        </div>
    </div>
    @section   scripts {
        @*<script src="~/Scripts/nouislider.min.js"></script>*@

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker6').datetimepicker({
                    format: "DD.MM.YYYY"
                });
                $('#datetimepicker7').datetimepicker({
                    format: "DD.MM.YYYY",
                    useCurrent: false //Important! See issue #1075
                });
                $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                });

                var slider = document.getElementById('preis');

                noUiSlider.create(slider, {
                    start: [0, 1000],
                    range: {
                        'min': [0],
                        'max': [1000]
                    },
                    connect: true,
                    pips: {
                        mode: 'steps',
                        density: 5
                    },
                    step: 200,
                    margin: 200
                });

                var preisMin = document.getElementById("PreisMin"),
               preisMax = document.getElementById("PreisMax");

                slider.noUiSlider.on('update', function (values, handle) {
                    if (handle) {
                        preisMax.value = parseInt(values[handle]);
                    } else {
                        preisMin.value = parseInt(values[handle]);
                    }
                });

                var preisArray = slider.noUiSlider.get();
                preisMin.value = parseInt(preisArray[0]);
                preisMax.value = parseInt(preisArray[1]);

            });

        </script>
    }
</div>