@model IEnumerable<UI_Reiseboerse_Graf.Models.ReiseModel>

@{
    ViewBag.Title = "Laden";
}
<div class="container">
    <div class="col-xs-2 filter">
        <div class="überschrift">Filter</div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Kontinent</label>
                <select name="Landauswahl" class="form-control" id="sel1">
                    <option value="Europa">Europa</option>
                    <option>Asien</option>
                    <option>Afrika</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Land</label>
                <select name="Landauswahl" class="form-control" id="sel1">
                    <option value="Deutschland">Deutschland</option>
                    <option>Schweiz</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Ort</label>
                <select name="Landauswahl" class="form-control" id="sel1">

                    <option value="Wien">Wien</option>
                    <option>Kärtnen</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Hotelkategorie</label>
                <div class="acidjs-rating-stars">

                    <form>
                        <input type="radio" name="group-2" id="group-2-0" value="5" /><label for="group-2-0"></label>
                        <input type="radio" name="group-2" id="group-2-1" value="4" /><label for="group-2-1"></label>
                        <input type="radio" checked="checked" name="group-2" id="group-2-2" value="3" /><label for="group-2-2"></label>
                        <input type="radio" name="group-2" id="group-2-3" value="2" /><label for="group-2-3"></label>
                        <input type="radio" name="group-2" id="group-2-4" value="1" /><label for="group-2-4"></label>
                    </form>
                </div>
            </div>
        </div>

        <label>Kategorie</label> <br>
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" name="CheckReise" value="1" checked> Abenteuerreise<br>
                <input type="checkbox" name="CheckReise" value="2"> Busreise<br>
                <input type="checkbox" name="CheckReise" value="3"> Familienreise<br>
                <input type="checkbox" name="CheckReise" value="4"> Pärchenreise<br>
            </div>
        </div>
        <br>

        <label>Preis</label><br>
        <div class="row">
            <div class="col-md-12">
                <input type="radio" name="RadioPreisspanne" checked value="1"> Alle<br>
                <input type="radio" name="RadioPreisspanne" value="2"> bis 499 €<br>
                <input type="radio" name="RadioPreisspanne" value="3"> 500 € bis 1499 €<br>
                <input type="radio" name="RadioPreisspanne" value="4"> ab 1500 €<br>
            </div>
        </div>
        <br>
        <label>Verpflegung</label><br>
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" name="CheckVerpflegung" value="1" checked> Halb-Pension<br>
                <input type="checkbox" name="CheckVerpflegung" value="2"> Voll-Pension<br>
                <input type="checkbox" name="CheckVerpflegung" value="3"> Frühstück<br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class='col-md-12'>
                <label>Starttermin</label>
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                <label>Endtermin</label>
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="divcenter">
                    <input class="btn button" type="submit" value="Filtern" />
                </div>
            </div>

        </div>


        @section   scripts {
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker6').datetimepicker({
                        format: "DD.MM.YYYY"
                    });
                    $('#datetimepicker7').datetimepicker({
                        format: "DD.MM.YYYY",
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });
            </script>
        }

    </div>

    <div class="col-xs-9 col-xs-offset-1">
        @foreach (var item in Model)
        {
            <div class="row reise">
                <div class="col-md-2 col-xs-6">
                    <img src="http://www.skwei.de/skwei2014/wp-content/uploads/2014/07/erde3.gif" class="img-responsive" />
                    <div class="carousel-caption bildschrift">
                        <text>ab </text>@Html.DisplayFor(modelItem => item.Preis)
                    </div>
                    <!--Restplätze aus der Datenbank auslesen-->
                    <div class="Restplätze">
                        <span class="badge">@Html.DisplayFor(modelItem => item.Restplätze)</span> Restplätze
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 details">
                    <ul class="list-unstyled list">
                        <li><img src="~/Content/bilder/themify_e691(1)_32.png" />@Html.DisplayFor(modelItem => item.Titel)</li>
                        <li class="Kommentar"><img src="~/Content/bilder/FontAwesome_f017(6)_32.png" />Buchen Sie bis: @Html.DisplayFor(modelItem => item.Anmeldefrist)</li>
                        <li><img src="~/Content/bilder/themify_e6a9(3)_32.png" /> @Html.DisplayFor(modelItem => item.Ort)</li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-6 details">
                    <ul class="list-inline list-unstyled list">
                        <li><img src="~/Content/bilder/FontAwesome_f015(0)_32.png" /> @Html.DisplayFor(modelItem => item.Unterkunft)</li>
                        <li><img src="~/Content/bilder/FontAwesome_f133(0)_32.png" /> @Html.DisplayFor(modelItem => item.Beginndatum)<text>-</text>@Html.DisplayFor(modelItem => item.Enddatum)</li>
                        <li><img src="~/Content/bilder/FontAwesome_f0f5(0)_32.png" /> @Html.DisplayFor(modelItem => item.Verpflegung)</li>
                    </ul>
                </div>
                <div class="col-md-1 col-xs-6 details">
                    <!--Wenn der Benutzer eingeloogt, dann wird hier der Merkenbutton eingezeigt-->
                    <!--Link zu den Details der entsprechenden Reise-->
                    @Html.ActionLink("Details", "Anzeigen",new { id = item.ID },new { @class="btn platziert"})
                </div>
            </div>
            <br />
        }
    </div>

</div>