@model UI_Reiseboerse_Graf.Models.ReisedurchfuehrenModel

@{
    ViewBag.Title = "ReiseAnzahlErstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weitere Reisedaten eingeben</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal reise">
        <h4>Durchführung der Reise</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Reise_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reise_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reise_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.StartDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class='input-group date col-md-2' id='date2'>
                        <input type='text' class="form-control" name="Enddatum" value="@Model.StartDatum" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.EndDatum, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class='input-group date col-md-2' id='date2'>
                    <input type='text' class="form-control" name="Enddatum" value="@Model.EndDatum" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Anmeldefrist, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class='input-group date col-md-2' id='date3'>
                    <input type='text' class="form-control" name="Anmeldefrist" value="@Model.Anmeldefrist" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ReiseAnzahl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReiseAnzahl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReiseAnzahl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WeitereReisenHinzufuegen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    @Html.CheckBoxFor(x => x.WeitereReisenHinzufuegen)
                    @*@Html.EditorFor(model => model.WeitereReisenHinzufuegen)
                        @Html.ValidationMessageFor(model => model.WeitereReisenHinzufuegen, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {
            $('#datei1').datepicker({
                language: 'de'
            });
            $('#date2').datepicker({
                language: 'de',
                useCurrent: false //Important! See issue #1075
            });
            $('#date3').datepicker({
                language: 'de'
            });


            $("#datei1").on("dp.change", function (e) {
                $('#date2').data("DateTimePicker").minDate(e.date);
                $('#date3').data("DateTimePicker").maxDate(e.date);
            });
            $("#date2").on("dp.change", function (e) {
                $('#datei1').data("DateTimePicker").maxDate(e.date);
            });
            $("#date3").on("dp.change", function (e) {
                $('#date1').data("DateTimePicker").minDate(e.date);
            });
        })
    </script>
}
