@model IEnumerable<UI_Reiseboerse_Graf.Models.ReisedatumModel>

@{
    ViewBag.Title = "Reisedaten";
    Layout = "~/Views/Shared/_LayoutVerwaltung.cshtml";
}

<h2 class="Schriftartblau">Reisedaten</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Beginndatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enddatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anmeldefrist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restplätze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumsAnzeige)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beginndatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anmeldefrist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restplätze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumsAnzeige)
            </td>
            <td>

                @if (item.Anmeldefrist < DateTime.Now)
                {

                    if (item.BuchungenVorhanden)
                    {
                        @Html.ActionLink("Alle Buchungen", "Verwalten", "Buchungen", new { id = item.ID }, new { @class = "btn btn-success" })}
                    else
                    {
                        <p class="badge">Keine Buchungen vorhanden!</p>
                    }

                }
                else
                {
                    <p class="badge">Anmeldefrist endet in: @((item.Anmeldefrist - DateTime.Now).Days) Tagen </p>}









            </td>
        </tr>
    }
</table>
