@model UI_Reiseboerse_Graf.Models.ReiseAnlegenModel

@{
    ViewBag.Title = "ReiseHinzufuegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReiseHinzufuegen</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ReiseAnlegenModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container ">
            <div class="row col-xs-6">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Beschreibung, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Beschreibung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Beschreibung, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Land", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Land_id, new SelectList(Model.Reiseland, "land_ID", "landName"))
                        <input type="button" id="a" value="Neues Land hinzufuegen" />
                    </div>
                    <div>
                        <div class="col-md-10 NichtZeigen" id="Land">
                            @Html.EditorFor(model => model.NeuesLand, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NeuesLand, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>            
                <div class="form-group">
                    @Html.Label("Preis Erw", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PreisErw, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PreisErw, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Preis Kind", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PreisKind, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PreisKind, "", new { @class = "text-danger" })
                    </div>
                </div>

              
                <div class="form-group">
                    @Html.Label("Ort", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Ort_id, new SelectList(Model.ReiseOrt, "Id", "Bezeichnung"))
                        <input type="button" id="b" value="Neuen Ort hinzufuegen" />
                    </div>
                    <div>
                        <div class="col-md-10 NichtZeigen" id="Ort">
                            @Html.EditorFor(model => model.NeuerOrt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NeuerOrt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-xs-6">
                <div class="form-group">
                    @Html.Label("Unterkunft", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Unterkunft, new SelectList(Model.Unterkunft, "ID", "Bezeichnung"))
                        <input type="button" id="c" value="Neue Unterkunft hinzufuegen" />
                    </div>
                    <div>
                        <div class="col-md-10 NichtZeigen" id="NeueUnterkunft">
                            @Html.Label("Beschreibung", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.NeueUnterkunftBeschreibung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Bezeichnung", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.NeueUnterkunftBezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Kategorie", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.NeueUnterkunftKategorie, new { htmlAttributes = new { @class = "form-control" } })                           
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Verpflegung", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.Verpflegung, new SelectList(Model.Verpflegung, "Id", "Bezeichnung"))
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.StartDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>

                    <div class="col-md-2">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" name="Startdatum" value="@Model.StartDatum" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.EndDatum, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>

                    <div class="col-md-2">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" name="Startdatum" value="@Model.EndDatum" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.Anmeldefrist, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>

                    <div class="col-md-2">
                        <div class='input-group date' id='datetimepicker8'>
                            <input type='text' class="form-control" name="Startdatum" value="@Model.Anmeldefrist" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: "DD.MM.YYYY"
            });
            $('#datetimepicker7').datetimepicker({
                format: "DD.MM.YYYY",
                useCurrent: false //Important! See issue #1075
            });
            $('#datetimepicker8').datetimepicker({
                format: "DD.MM.YYYY"
            });


            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                $('#datetimepicker8').data("DateTimePicker").maxDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
            $("#datetimepicker8").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").minDate(e.date);
            });
        })
        $(document).ready(function () {
            $("#b").click(function () {
                $("#Ort").removeClass("NichtZeigen");
            });
        });

        $(document).ready(function () {
            $("#a").click(function () {
                $("#Land").removeClass("NichtZeigen");
            });
        });
        $(document).ready(function () {
            $("#c").click(function () {
                $("#NeueUnterkunft").removeClass("NichtZeigen");
            });
        });
    </script>
}
