@model UI_Reiseboerse_Graf.Models.ReiseAnlegenModel

@{
    ViewBag.Title = "ReiseHinzufuegen";
    Layout = "~/Views/Shared/_LayoutVerwaltung.cshtml";
}

<h2>ReiseHinzufuegen</h2>


@using (Html.BeginForm("ReiseHinzufuegen", "Reisen", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h4>ReiseAnlegenModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <div class="row col-xs-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Beschreibung, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Beschreibung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Beschreibung, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Land", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Land_id, new SelectList(Model.Reiseland, "land_ID", "landName"))
                            <input type="button" id="a" value="Neues Land hinzufuegen" />
                        </div>
                        <div>
                            <div class="col-md-9 NichtZeigen" id="Land">
                                @Html.EditorFor(model => model.NeuesLand, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NeuesLand, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.Label("Ort", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Ort_id, new SelectList(Model.ReiseOrt, "Id", "Bezeichnung"))
                            <input type="button" id="b" value="Neuen Ort hinzufuegen" />
                        </div>
                        <div>
                            <div class="col-md-9 NichtZeigen" id="Ort">
                                @Html.EditorFor(model => model.NeuerOrt, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NeuerOrt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Preis Erw", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PreisErw, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PreisErw, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Preis Kind", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PreisKind, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PreisKind, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
                <div class="row col-xs-6">
                    <div class="row form-group">
                        @Html.Label("Unterkunft", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-9">
                            <div>
                                @Html.DropDownListFor(model => model.Unterkunft_id, new SelectList(Model.Unterkunft, "ID", "Bezeichnung"))
                            </div>
                            <div>
                                <input type="button" id="c" value="Neue Unterkunft hinzufuegen" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 NichtZeigen" id="NeueUnterkunft">
                        <div class="row">
                            <table>
                                <tr>
                                    <td>@Html.Label("Beschreibung", htmlAttributes: new { @class = "control-label col-md-3" })</td>
                                    <td>@Html.EditorFor(model => model.NeueUnterkunft.Beschreibung, new { htmlAttributes = new { @class = "form-control" } })</td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Bezeichnung", htmlAttributes: new { @class = "control-label col-md-3" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.NeueUnterkunft.Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.NeueUnterkunft.Kategorie, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </td>
                                    <td>
                                        <div class="acidjs-rating-stars">
                                            <form>
                                                <input type="radio" name="NeueUnterkunft.Kategorie" id="group-2-0" value="5" />
                                                <label for="group-2-0"></label>
                                                <input type="radio" name="NeueUnterkunft.Kategorie" id="group-2-1" value="4" />
                                                <label for="group-2-1"></label>
                                                <input type="radio" name="NeueUnterkunft.Kategorie" id="group-2-2" value="=3" />
                                                <label for="group-2-2"></label>
                                                <input type="radio" name="NeueUnterkunft.Kategorie" id="group-2-3" value="2" />
                                                <label for="group-2-3"></label>
                                                <input type="radio" name="NeueUnterkunft.Kategorie" id="group-2-4" value="1" />
                                                <label for="group-2-4"></label>

                                            </form>
                                        </div>

                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            @Html.Label("Verpflegung", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.Verpflegung_id, new SelectList(Model.Verpflegung, "Id", "Bezeichnung"))
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            @Html.Label("Reisebild 1", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file1" name="file1" />
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Reisebild 2", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file2" name="file2" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Reisebild 3", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file3" name="file3" />
                            </div>
                        </div>
                    </div>             <div class="row">
                        <div>
                            @Html.Label("Reisebild 4", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file4" name="file4" />
                            </div>
                        </div>
                    </div>             <div class="row">
                        <div>
                            @Html.Label("Reisebild 5", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file5" name="file5" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            @Html.Label("Unterkunft 1", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file6" name="file6" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Unterkunft 2", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file7" name="file7" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Unterkunft 3", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file8" name="file8" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Unterkunft 4", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file9" name="file9" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.Label("Unterkunft 5", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-9">
                            <div>
                                <input type="file" id="file10" name="file10" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        $(document).ready(function () {
            $("#b").click(function () {
                $("#Ort").removeClass("NichtZeigen");
            });
        });

        $(document).ready(function () {
            $("#a").click(function () {
                $("#Land").removeClass("NichtZeigen");
            });
        });
        $(document).ready(function () {
            $("#c").click(function () {
                $("#NeueUnterkunft").removeClass("NichtZeigen");
            });
        });
        var upload_file = document.getElementById('upload_file').files[0];
        // Daten, die mitgesendet werden sollen
        var data = new FormData();
        data.append('parameter', 'wert'); // es können viele weitere Parameter definiert werden
        data.append('file1', upload_file); // dieser Parameter kann auch anders heißen

        // AJAX Request
        $.ajax({
            url: "~/BildVerwaltung/BildSpeichern",
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            dataType: "json", // in meinem Fall JSON, da ich ein JSON-Objekt mit einigen Infos zurückgebe
            xhr: function () {
                var xhr = $.ajaxSettings.xhr();
                xhr.upload.onprogress = function (evt) { /* Hier kann man die Fortschrittsanzeige updaten. Beispielsweise prozent = (evt.loaded/evt.total*100); */ };
                xhr.upload.onload = function () { console.log('Upload done.') };
                return xhr;
            },
            success: function (response) {
                console.log(response.status); // dafür muss man natürlich einen Status zurückgeben. Andernfalls tut man eben nichts.
            },
            error: function () { console.log("General error occured", "e"); },
            complete: function () { /* Fertig. */ }
        });
    </script>
}
