@model List<UI_Reiseboerse_Graf.Models.BuchungAnzeigenModel>

<div>
        <table>
            <tr>
                <td>@Html.DisplayNameFor(x=>x[0].Reisetitel)</td>
                <td>@Html.DisplayNameFor(x => x[0].Startdatum)</td>
                <td>@Html.DisplayNameFor(x => x[0].Enddatum)</td>
                <td>@Html.DisplayNameFor(x => x[0].Bewertung)</td>
            </tr>
            @foreach (var model in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => model.Reisetitel)</td>
                    <td>@Html.DisplayFor(x => model.Startdatum)</td>
                    <td>@Html.DisplayFor(x => model.Enddatum)</td>
                    <td>
                        @if (DateTime.Now > model.Enddatum && model.Bewertung == null)
                        {
                            @Html.ActionLink("Bewerten Sie jetzt", "Bewerten", "Reisen")
                        }
                        else
                        {
                            for (int i = 0; i < model.Bewertung; i++)
                            {
                            <!--hier kommt dann ein Symbol für die Bewertung rein-->
                            }
                        }
                    </td>
                </tr>
            }
        </table>
</div>

