@model IEnumerable<UI_Reiseboerse_Graf.Models.BuchungVerwaltenModel>

@{
    ViewBag.Title = "Verwalten";
    Layout = "~/Views/Shared/_LayoutVerwaltung.cshtml";
}

<h2 class="Schriftartblau">Verwalten</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BenutzerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geburtsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reisetitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BenutzerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reisetitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.ActionLink("Stornieren", "Stornieren", new { id = item.ID }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Startseite", "Verwaltung", "Home", null, new { @class = "btn btn-info" })</p>
    