@model UI_Reiseboerse_Graf.Models.BuchungGesamtModel

@{
    ViewBag.Title = "ZeigeGesamt";
}

<h2 class="logoschrift">Buchen - 2.Schritt</h2>
<hr />
<div class="container">
    <div class="row reise">
        <div class="col-xs-6 col-xs-offset-1">
            <div class="row Schriftartblau marginbuchen">
                @Html.DisplayFor(model => model.Reisetitel) von @Html.DisplayFor(model => model.Startdatum) bis @Html.DisplayFor(model => model.Enddatum)
            </div>
            <div class="row Schriftartblau">
                <div class="col-xs-2 col-xs-push-1 marginbuchen"></div>
                Gesamtpreis: € @Html.DisplayFor(model => model.Gesamtpreis)
            </div>
        </div>
        <div class="col-xs-3 col-xs-push-2">
            <img src="~/Bild/Laden/@Model.ReiseID" class="img-thumbnail img-responsive" />
        </div>
    </div>
    <h4 class="Schriftartblau" style="align-content:center">
        Daten der Reisenden
    </h4>
    <div class="row reise">
        <div class="col-xs-5">
            @foreach (var buchung in Model.BuchungErwachsen)
            {
                <table class="table table-condensed table-responsive">
                    <tr>
                        <th>@Html.DisplayNameFor(model => buchung.Vorname)</th>
                        <td>
                            @Html.DisplayFor(model => buchung.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => buchung.Geburtsdatum)</th>
                        <td>
                            @Html.DisplayFor(model => buchung.Geburtsdatum)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => buchung.ReisePassNummer)
                        </th>
                        <td>
                            @Html.DisplayFor(model => buchung.ReisePassNummer)
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5">
            @foreach (var buchung in Model.BuchungKind)
            {
                <table class="table table-condensed table-responsive">
                    <tr>
                        <th>@Html.DisplayNameFor(model => buchung.Name)</th>
                        <td>
                            @Html.DisplayFor(model => buchung.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => buchung.Geburtsdatum)</th>
                        <td>
                            @Html.DisplayFor(model => buchung.Geburtsdatum)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => buchung.ReisePassNummer)
                        </th>
                        <td>
                            @Html.DisplayFor(model => buchung.ReisePassNummer)
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-2 col-xs-offset-10">@Html.ActionLink("Zur Zahlung", "Zahlung", null, new { @class = "btn anmeldung" })</div>

    </div>

</div>
