@model UI_Reiseboerse_Graf.Models.BuchungGesamtModel

@{
    ViewBag.Title = "ZeigeGesamt";
}

<h2>Ihre Buchungen - Übersicht</h2>
<hr />
<div class="container">
    <div class="col-xs-6 row reise">
        <table>
            <tr>
                <th colspan="2" class="Schriftartblau">
                    Ihre gebuchte Reise
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Reisetitel)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Reisetitel)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    von @Html.DisplayFor(model => model.Startdatum) bis @Html.DisplayFor(model => model.Enddatum)
                </td>
            </tr>
            <tr>
                <td>
                    Preis:
                </td>
                <td>@Html.DisplayFor(model => model.Gesamtpreis)</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6">
        <div class="row reise">
            <h4 class="Schriftartblau">
                Daten der Reisenden
            </h4>
            @if (Model.BuchungErwachsen.Count>0)
            {
                <h5>Erwachsene Reisende</h5>
            }
            @foreach (var buchung in Model.BuchungErwachsen)
            {
                <table class="table table-condensed">
                    <tr>
                        <td>
                            @buchung.Vorname
                        </td>
                        <td>
                            @buchung.Nachname
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @buchung.Geburtsdatum
                        </td>
                        <td>
                            @buchung.ReisePassNummer
                        </td>
                    </tr>
                </table>
            }

        </div>
        <div class="row reise">
            @foreach (var buchung in Model.BuchungKind)
            {
                <table class="table table-condensed">
                    <tr>
                        <td>
                            @buchung.Vorname
                        </td>
                        <td>
                            @buchung.Nachname
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @buchung.Geburtsdatum
                        </td>
                        <td>
                            @buchung.ReisePassNummer
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>  
    
   
    @Html.ActionLink("Zur Zahlung", "Zahlung", new { @class="btn anmeldung"})
</div>

